gulpfile.js/**/*.test.js
gulpfile.js/**/test-fixture/**/*
gulpfile.js/**/expected/**/*
biome.json
renovate.json
public/
.blendid/
.circleci/
.github/
.idea/
.yarn/
.editorconfig
.gitignore
.nvmrc
.yarnrc.yml
yarn.lock
